config/database.yml
config/facebook.yml
config/starling_config.yml
config/jabber/jabber_component.yml
tmp/*
log/*
ruby-prof/
tmtags
db/dev.sqlite3
db/test.sqlite3
db/production.sqlite3
db/*.sqlite3*
.DS_Store
*.swp
db/schema.rb
vendor/plugins/acts_as_solr/solr/solr/data
vendor/plugins/acts_as_solr/solr/solr/data/*
vendor/plugins/acts_as_solr/solr/tmp/*
vendor/plugins/acts_as_solr/solr/tmp
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/logs
debug.log
config/environments/development.rb
config/environments/production.rb
tags
!app/views/tags
coverage
rcov_results.bin
config/memcached.yml
*.bundle
*.o
*.so
*.beam

